---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Contact | Noah Cheng" description="Contact Noah Cheng." />
	</head>
	<body>
		<Header />
		<main>
			<h1>Contact</h1>
			<p>Email: <a href="mailto:noahchenghk@gmail.com">noahchenghk@gmail.com</a></p>
		</main>
		<Footer />
	</body>
</html>
